/build/
/out/
target/

.gradle/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride

*.log

.env
application-local.properties
application-secret.properties

*.swp
*.tmp
*.bak
